# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# VPS
deploy.log
deploy.sh
ecosystem.config.js
logs/
webhook-server.js   

# dependencies
/node_modules
/.pnp
.pnp.js

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins

# testing
/coverage

# production
build/

# misc
.DS_Store
*.pem
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# eslint
.eslintcache

# nix dev env
!.envrc
.direnv
.devenv

# zipline
uploads*/
*.crt
*.key
src/prisma
.memory.log*
openapi.json
