# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store
/.pnp
.pnp.js

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins

# testing
/coverage

# production
build/

# misc
.DS_Store
*.pem
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# nix dev env
!.envrc
.direnv
.devenv

# zipline
uploads*/
*.crt
*.key
.memory.log*
openapi.json
