<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <meta property="og:title" content="Not Found" />
    <meta name="theme-color"  content="#09122B" />
    <meta property="og:description" content="This page does not exist...">
    <title>Not Found</title>
</head>

<body>
    <div id="particles-js"></div>
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <h1 class="display-4" style="text-align: center;">404 - Not Found</h1>
            <h5 style="text-align: center;">Looks like you hit a dead end... Return <a href="/"
                    style="color: #036ffc;">home</a></p>
        </div>
    </div>
</body>

</html>