<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <meta property="og:title" content="Something went wrong..." />
    <meta name="theme-color"  content="#09122B" />
    <meta property="og:description" content="Something happened!">
    <title>Something went wrong...</title>
</head>

<body>
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <h1 class="display-4" style="text-align: center;">500 - Internal Server Error</h1>
            <h5 style="text-align: center;">Looks like something went wrong when processing your request... Return <a
                    href="/" style="color: #036ffc;">home</a></p>
        </div>
    </div>
</body>

</html>