<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
    <%- include('./partials/head') %>
    <title>TypeX - Login</title>
</head>

<body>
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <h1 class="display-4" style="text-align: center;">Login</h1>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Your Password">
                </div>
                <button type="submit" class="btn btn-primary" style="border-radius: 50px; width: 100%;">Login</button>
            </form>
        </div>
    </div>
</body>

</html>