<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="icon" href="<%=config.meta.favicon%>" type="image/png">
    <title><%= config.meta.title %> - Login</title>
</head>

<body>
    <div style="display:flex;align-items:center;justify-content:center;height:100%">
        <div class="card bg-dark" style="border-color: #303742;">
            <div class="card-header">
                <div class="card-title h5">Login</div>
                <div class="card-subtitle text-gray">Please enter in your username and password.</div>
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-input" type="text" id="username" name="username" placeholder="Username">
                    <label class="form-label" for="username">Password</label>
                    <input class="form-input" type="password" id="password" name="password" placeholder="Password">
                    <button style="margin-top:12px;width:100%" type="submit"
                        class="btn btn-primary input-group-btn">Login</button>
                    <% if (config.core.public)  { %>
                        <button style="margin-top:12px;width:100%" type="submit"
                        class="btn btn-primary input-group-btn" href="/register">Register (Beta)</button> 
                    <% } %>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script>
        if ("<%=failed%>" === 'true') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'You entered a wrong username or password',
                footer: 'Try again later...'
            })
        }
    </script>
</body>

</html>