.folderCard {
    transition: all 0.2s ease-in-out;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folderCard:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 12px -1px rgba(0, 0, 0, 0.1);
    filter: brightness(0.86);
    transform: scale(1.02);
}

.breadcrumb {
    font-size: 20px;
    font-weight: bold;
}

.breadcrumbSeparator {
    font-size: 20px;
}

.anchor {
    border-radius: var(--mantine-radius-default);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.anchorOver {
    background-color: var(--mantine-color-gray-light-hover);
    border-radius: var(--mantine-radius-default);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.anchor:hover {
    background-color: var(--mantine-color-gray-light-hover);
}