name: 'CD: Push ARM64 Docker Images'

on:
  push:
    branches: [ trunk ]
    paths:
      - 'src/**'
      - 'server/**'
      - 'prisma/**'
      - '.github/**'
  workflow_dispatch:

jobs:
  push_to_ghcr:
    name: Push Image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile-arm
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/diced/zipline/arm:trunk