name: 'CD: Push Docker Images'

on:
  push:
    branches: [ trunk ]
    paths:
      - 'src/**'
      - 'server/**'
      - 'prisma/**'
      - '.github/**'
      - 'Dockerfile'
  workflow_dispatch:

jobs:
  push_to_ghcr:
    name: Push Image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm64/v8
          tags: |
            ghcr.io/diced/zipline/zipline:trunk
            diced/zipline:trunk